*,
*::before,
*::after {
Box-sizing: border-box;
}
body {
  background: rgb(111, 159, 174);
  color: rgb(65, 85, 105);
  text-align: center;
  }
  @media only screen and (min-width: 1200px) {
    body {
      background-color: rgb(111, 159, 174);
      
    }
  }  
  @media only screen and (max-width: 768px) {
    body {
      background-color: rgb(111, 159, 174);
    }
  }  
  @media only screen and (max-width: 320px) {
    body {
      background-color: rgb(149, 189, 229);
    }
  }  

  h1 {
    
    font-family: 'Space Grotesk', monospace;
    color: black;
    font-weight: 100; 
    font-size: 60px;
    text-align: center;
    line-height: 80px; 
    padding: 30px; 
    margin: 20px;
  }
  h2 {
    border: 2px solid rgb(222, 222, 222);
    color: black;
    font-family: 'Space Grotesk', monospace;
    font-size: 27px;
    padding: 1em;
    margin: 1em;
  }
  h3 {
    color: black;
    font-family: 'Space Grotesk', monospace;
    font-size: 27px;
    margin: 15px;
    padding: 15px;
  }
  h4 {
    color: black;
    font-family: 'Space Grotesk', monospace;
    font-size: 25px;
    padding: 5px;
    margin: 5px;
    
  }
  p {
    font-family: 'Space Grotesk', monospace;
    font-size: 22px;
    padding: 30px 30px;
    text-align: left;
  
  }
  ul {
    font-size: 22px;
  }
  .square {
    border: 5px solid rgb(72, 7, 59);
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-color: rgb(72, 7, 59);
  }
  .columns-1 {
    display: grid;
    gap: 0px;
    padding: 15px;
    grid-template-columns: 31% 25% 25%;
  }
  .columns-2 {
    display: grid;  
    gap: 1em;
    padding: 1em;
    grid-template-columns: 25% 25%;
  }
  .container1 {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: auto;
    box-sizing: border-box;
    width: auto;
    height: 300px;
    margin-left: 50px;
    margin-right: 50px;
    background: rgb(74, 108, 142);
    justify-content: space-around;
  }
  .lil-box {
    padding: 10px;
    border: 2px solid;
    border-color: lightgray;
  }
  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100px;
    color: #000;
    text-align: center;
  }
  .mid-image {
    width: 450px;
    position: relative;
    padding: 1em;
    margin: 1em;
  }
  .smaller-image {
    width: 600px;
    position: relative;
    padding: 20px;
    margin: 20px;
  }
  .tiny-image {
    width: 400px;
    position: relative;
    padding: 20px;
    margin: 20px;
  }
  .mini-image {
    width: 200px;
    position: relative;
    padding: 20px;
    margin: 20px;
  }
  
  .left-align-image {
    float: left;
  }
  .right-align-image {
    float: right;
  }
  .center-align-image {
    float: center;
  }
  
  .image-down {
    margin-top: 50px;
  }
  .image-mid {
    margin-top: 200px;
  }
  .make-it-fat {
    font-weight: 200px;
    font-size: 50px;
  }
  .make-it-medium {
    font-weight: 100px;
    font-size: 35px;
  }

  .make-it-skinny {
    font-weight: 100px;
    font-size: 30px;
    color: indigo;
  }
  #closer {
    padding-top: 0px;
  }